<p id="notice"><%= notice %></p>

<h1>Listing Indicadordetalheusuarios</h1>

<table>
  <thead>
    <tr>
      <th>Indicadorsetupdetalhe</th>
      <th>Indicadorsetup</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicadordetalheusuarios.each do |indicadordetalheusuario| %>
      <tr>
        <td><%= indicadordetalheusuario.indicadorsetupdetalhe %></td>
        <td><%= indicadordetalheusuario.indicadorsetup %></td>
        <td><%= indicadordetalheusuario.valor %></td>
        <td><%= link_to 'Show', indicadordetalheusuario %></td>
        <td><%= link_to 'Edit', edit_indicadordetalheusuario_path(indicadordetalheusuario) %></td>
        <td><%= link_to 'Destroy', indicadordetalheusuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicadordetalheusuario', new_indicadordetalheusuario_path %>
