<p id="notice"><%= notice %></p>

<p>
  <strong>Indicadorsetupdetalhe:</strong>
  <%= @indicadordetalheusuario.indicadorsetupdetalhe %>
</p>

<p>
  <strong>Indicadorsetup:</strong>
  <%= @indicadordetalheusuario.indicadorsetup %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @indicadordetalheusuario.valor %>
</p>

<%= link_to 'Edit', edit_indicadordetalheusuario_path(@indicadordetalheusuario) %> |
<%= link_to 'Back', indicadordetalheusuarios_path %>
