<p id="notice"><%= notice %></p>

<h1>Listing Indicadorsetupdetalhes</h1>

<table>
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Descricao</th>
      <th>Valordefault</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicadorsetupdetalhes.each do |indicadorsetupdetalhe| %>
      <tr>
        <td><%= indicadorsetupdetalhe.indicador %></td>
        <td><%= indicadorsetupdetalhe.descricao %></td>
        <td><%= indicadorsetupdetalhe.valordefault %></td>
        <td><%= link_to 'Show', indicadorsetupdetalhe %></td>
        <td><%= link_to 'Edit', edit_indicadorsetupdetalhe_path(indicadorsetupdetalhe) %></td>
        <td><%= link_to 'Destroy', indicadorsetupdetalhe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicadorsetupdetalhe', new_indicadorsetupdetalhe_path %>
