<p id="notice"><%= notice %></p>

<p>
  <strong>Indicador:</strong>
  <%= @indicadorsetupdetalhe.indicador %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @indicadorsetupdetalhe.descricao %>
</p>

<p>
  <strong>Valordefault:</strong>
  <%= @indicadorsetupdetalhe.valordefault %>
</p>

<%= link_to 'Edit', edit_indicadorsetupdetalhe_path(@indicadorsetupdetalhe) %> |
<%= link_to 'Back', indicadorsetupdetalhes_path %>
