<%content_for :head do%>
  Listando Pregões
<%end%>

  <% flash.each do |name, msg| -%>
  <div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg%>
  </div>      
  <% end -%>

  <div class="box box-info">
    <div class="box-header with-border">
    </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pregão</th>
            <th>Título</th>
            <th>Ativo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @pregoestitulos.each do |pregoestitulo| %>
            <tr>
              <td><%= showDate(pregoestitulo.pregao.data,false) rescue nil %></td>
              <td><%= pregoestitulo.titulo.codigo %></td>
              <td><%= iconTrueOrFalse(pregoestitulo.flagativo) %></td>

              <td>
                <div class="btn-group pull-right">
                  <%= link_to edit_pregoestitulo_path(pregoestitulo), :class => "btn btn-default" do %>
                    <i class="fa fa-edit"></i> Editar
                  <% end %>
                  <%= link_to pregoestitulo, :class => "btn btn-default" do %>
                    <i class="fa fa-list-alt"></i> Exibir
                  <% end %>                  
                  <%= link_to raw("<i class=\"fa fa-trash\"></i> Excluir"), 
                    pregoestitulo_path(:id => pregoestitulo.id),
                    class: "btn btn-default",
                    method: :delete %>  

                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="box-footer">
        <%= link_to new_pregoestitulo_path, :class => "btn btn-success pull-right" do %>
        <span class="glyphicon glyphicon-file"></span> Novo
        <% end %>      
      </div>      

  </div>
