<p id="notice"><%= notice %></p>

<h1>Listing Indicadorsetups</h1>

<table>
  <thead>
    <tr>
      <th>Indicador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicadorsetups.each do |indicadorsetup| %>
      <tr>
        <td><%= indicadorsetup.indicador %></td>
        <td><%= link_to 'Show', indicadorsetup %></td>
        <td><%= link_to 'Edit', edit_indicadorsetup_path(indicadorsetup) %></td>
        <td><%= link_to 'Destroy', indicadorsetup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicadorsetup', new_indicadorsetup_path %>
