<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @usuariopregao.usuario %>
</p>

<p>
  <strong>Pregoestitulo:</strong>
  <%= @usuariopregao.pregoestitulo %>
</p>

<p>
  <strong>Indicadorsetup:</strong>
  <%= @usuariopregao.indicadorsetup %>
</p>

<p>
  <strong>Checkpoint:</strong>
  <%= @usuariopregao.checkpoint %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @usuariopregao.resultado %>
</p>

<p>
  <strong>Flagfinalizado:</strong>
  <%= @usuariopregao.flagfinalizado %>
</p>

<%= link_to 'Edit', edit_usuariopregao_path(@usuariopregao) %> |
<%= link_to 'Back', usuariopregaos_path %>
