<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-lg-8">

  <%= form_for(@pregao) do |f| %>

    <% if @pregao.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      <% if @pregao.errors.any? %>

      <% @pregao.errors.full_messages.each do |msg| %>
      <%= msg %></br>
      <% end %>
      <% end %>
    </div>
    <% end %> 

    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Formulário de Pregão</h3>
      </div>

      <div class="box-body">
        
        <div class="form-group">
          <label>Data Pregão:</label>

          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" id="pregao_data" name="pregao[data]" value="<%=showDate(@pregao.data,false)%>">
          </div>
          <!-- /.input group -->
        </div>

        <div class="form-group">
          <%= f.check_box :flagativo %>
          <%= f.label :Ativo %>
        </div>


        <div class="box-footer">
          <div class="btn-group pull-right">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>

  <% end %>



<script>
  $(function () {
    //Initialize Select2 Elements
    
    $.fn.datepicker.defaults.format = "dd/mm/yyyy";
    //Date picker
    $('#pregao_data').datepicker({
      autoclose: true
    });

  });
</script>