<p id="notice"><%= notice %></p>

<p>
  <strong>Pregoestitulo:</strong>
  <%= @pregoestitulosgrafico.pregoestitulo %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @pregoestitulosgrafico.arquivo %>
</p>

<p>
  <strong>Tempografico:</strong>
  <%= @pregoestitulosgrafico.tempografico %>
</p>

<%= link_to 'Edit', edit_pregoestitulosgrafico_path(@pregoestitulosgrafico) %> |
<%= link_to 'Back', pregoestitulosgraficos_path %>
