<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Doações Recebidas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Indicador</th>
                    <th>Descrição</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @indicadors.each do |indicador| %>
                    <tr>
                      <td><%= indicador.indicador %></td>
                      <td><%= indicador.descricao %></td>
                      <td><%= link_to 'Show', indicador %></td>
                      <td><%= link_to 'Edit', edit_indicador_path(indicador) %></td>
                      <td><%= link_to 'Destroy', indicador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'New Indicador', new_indicador_path %>
    </section>              

