<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @arquivo.nome %>
</p>

<p>
  <strong>Caminho:</strong>
  	<a class="btn btn-info btn-sm" target="_blank" href="<%=@arquivo.caminho%>">
	 Ver Comprovante
	</a>  
</p>

<%= link_to 'Edit', edit_arquivo_path(@arquivo) %> |
<%= link_to 'Back', arquivos_path %>
