
  <%= form_for(@usuario) do |f| %>

  <% if @usuario.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <% if @usuario.errors.any? %>

    <% @usuario.errors.full_messages.each do |msg| %>
    <%= msg %></br>
    <% end %>
    <% end %>
  </div>
  <% end %>   

  <div class="box box-info">
    <div class="box-header with-border">
      <!-- <h3 class="box-title">Horizontal Form</h3> -->
    </div>
    <!-- /.box-header -->
    <!-- form start -->
      <div class="box-body">
        <div class="form-group">
          <%= f.label :Nome_Completo %>
          <%= f.text_field :nomecompleto, :class => "form-control" %>
        </div> 
        <div class="form-group">
          <%= f.label :Data_de_Nascimento%>
          <%= f.text_field :datascimento, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Email%>
          <%= f.text_field :email, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Senha%>
          <%= f.password_field :senha, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Confirmação %>
          <%= f.password_field :descconfirmasenha, :class => "form-control" %>
        </div>

        
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Salvar</button>
      </div>
      <!-- /.box-footer -->
  </div>

  <% end %>
