<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Nomecompleto:</strong>
  <%= @usuario.nomecompleto %>
</p>

<p>
  <strong>Datascimento:</strong>
  <%= @usuario.datascimento %>
</p>

<p>
  <strong>Ultimologin:</strong>
  <%= @usuario.ultimologin %>
</p>

<p>
  <strong>Flagativo:</strong>
  <%= @usuario.flagativo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
