<p id="notice"><%= notice %></p>

<h1>Listing Usuariosplanos</h1>

<table>
  <thead>
    <tr>
      <th>Plano</th>
      <th>Usuario</th>
      <th>Datapagamento</th>
      <th>Linhacodigopagamento</th>
      <th>Observacao</th>
      <th>Valid at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuariosplanos.each do |usuariosplano| %>
      <tr>
        <td><%= usuariosplano.plano %></td>
        <td><%= usuariosplano.usuario %></td>
        <td><%= usuariosplano.datapagamento %></td>
        <td><%= usuariosplano.linhacodigopagamento %></td>
        <td><%= usuariosplano.observacao %></td>
        <td><%= usuariosplano.valid_at %></td>
        <td><%= link_to 'Show', usuariosplano %></td>
        <td><%= link_to 'Edit', edit_usuariosplano_path(usuariosplano) %></td>
        <td><%= link_to 'Destroy', usuariosplano, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuariosplano', new_usuariosplano_path %>
